body {
 background: black;
}

.d-flex {
	padding: 50px;
	justify-content: center; /* Centrar horizontalmente dentro del contenedor */
  	align-items: center; /* Centrar verticalmente dentro del contenedor */
}
.img-fluid{
	max-width: 300px;
	margin: 5px auto;
	border: 10px solid black;
}

.btn {
	background: rgb(247 214 112);
	color: black;
	font-family: "Book Antiqua", serif;
	justify-content: center;
	padding: 20px;
	border: 5px solid rgb(247 214 112);
	margin: 50px auto;

}

.container {
	text-align: center;
}


